<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Face Detection</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
<body>
    <h1>Detección de Rostros</h1>
    <div id="videoCanvasContainer" style="position: relative;">
        <video id="videoElement" width="640" height="480" autoplay></video>
        <canvas id="canvasElement" width="640" height="480" style="position: absolute; top: 0; left: 0;"></canvas>
    </div>
    <div id="recognizedNames"></div>
    <script src="/static/js/main.js"></script>
</body>
</html>